
.vs/Simple.Api/v15/Server/sqlite3/storage.ide-wal
.vs/Simple.Api/v15/Server/sqlite3/storage.ide-shm
.vs/Simple.Api/v15/Server/sqlite3/storage.ide
.vs/Simple.Api/v15/Server/sqlite3/db.lock
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.AssemblyInfo.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.AssemblyInfoInputs.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csproj.CoreCompileInputs.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csprojAssemblyReference.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.Program.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api.Tests/obj/project.assets.json
Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.g.targets
Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.g.props
Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.cache
Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_a0dd6d17-f492-4ec2-9a07-809f55ff1e28.assets.cache
_NCrunch_Simple.Api/Simple.Api.executiontimes.cache
_NCrunch_Simple.Api/Simple.Api.crunchsolution.cache
.vs/Simple.Api/v15/.suo
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_69079ffe-2058-4aff-8e74-7359450c8810.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.FileListAbsolute.txt
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csprojAssemblyReference.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.dll
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.pdb
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cs
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorTargetAssemblyInfo.cache
Simple.Api/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
Simple.Api/obj/project.assets.json
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.assets.cache
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.csproj.FileListAbsolute.txt
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.csprojAssemblyReference.cache
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.dll
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.pdb
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cache
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cs
Simple.Api/obj/Release/netcoreapp2.1/Simple.Api.RazorTargetAssemblyInfo.cache
Simple.Api/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
Simple.Api/obj/Simple.Api.csproj.nuget.cache
Simple.Api/obj/Simple.Api.csproj.nuget.g.props
Simple.Api/obj/Simple.Api.csproj.nuget.g.targets
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_a41e03a1-b89e-445e-9247-71dd5024f357.assets.cache
Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.deps.json
Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.dll
Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.pdb
Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.runtimeconfig.dev.json
Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.runtimeconfig.json
Simple.Api/bin/Docker/publish/appsettings.Development.json
Simple.Api/bin/Docker/publish/appsettings.json
Simple.Api/bin/Docker/publish/DnsClient.dll
Simple.Api/bin/Docker/publish/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
Simple.Api/bin/Docker/publish/Microsoft.AspNetCore.Mvc.Versioning.dll
Simple.Api/bin/Docker/publish/MongoDB.Bson.dll
Simple.Api/bin/Docker/publish/MongoDB.Driver.Core.dll
Simple.Api/bin/Docker/publish/MongoDB.Driver.dll
Simple.Api/bin/Docker/publish/Simple.Api.dll
Simple.Api/bin/Docker/publish/Simple.Api.pdb
Simple.Api/bin/Docker/publish/Simple.Api.runtimeconfig.json
Simple.Api/bin/Docker/publish/StructureMap.dll
Simple.Api/bin/Docker/publish/StructureMap.Microsoft.DependencyInjection.dll
Simple.Api/bin/Docker/publish/Swashbuckle.AspNetCore.dll
Simple.Api/bin/Docker/publish/Swashbuckle.AspNetCore.Swagger.dll
Simple.Api/bin/Docker/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
Simple.Api/bin/Docker/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
Simple.Api/bin/Docker/publish/web.config
Simple.Api/bin/Release/netcoreapp2.1/Simple.Api.deps.json
Simple.Api/bin/Release/netcoreapp2.1/Simple.Api.dll
Simple.Api/bin/Release/netcoreapp2.1/Simple.Api.pdb
Simple.Api/bin/Release/netcoreapp2.1/Simple.Api.runtimeconfig.dev.json
Simple.Api/bin/Release/netcoreapp2.1/Simple.Api.runtimeconfig.json
Simple.Api/bin/Docker/publish/Simple.Api.deps.json
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_a5d5a33f-afac-4303-8d10-628eea9d4eab.assets.cache
Simple.Api.Tests/obj/Release/netcoreapp2.1/Simple.Api.Tests.AssemblyInfo.cs
Simple.Api.Tests/obj/Release/netcoreapp2.1/Simple.Api.Tests.AssemblyInfoInputs.cache
Simple.Api.Tests/obj/Release/netcoreapp2.1/Simple.Api.Tests.assets.cache
Simple.Api.Tests/obj/Release/netcoreapp2.1/Simple.Api.Tests.csproj.CoreCompileInputs.cache
Simple.Api.Tests/obj/Release/netcoreapp2.1/Simple.Api.Tests.csprojAssemblyReference.cache
Simple.Api.Tests/obj/Release/netcoreapp2.1/Simple.Api.Tests.Program.cs
Simple.Api.Tests/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api.Tests/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api.Tests/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_0a2e6587-8eaa-4171-bd20-5fe760a96c21.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_0decde05-3027-4acb-9258-c26b664d631e.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_16b10664-9255-4195-bb52-297575c7de12.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_462b2cea-8e27-4a11-8e7c-a97dc7ef8e33.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_a4b058df-5d5b-40e4-aac6-897cb1240611.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_e0709945-f643-4711-b3aa-2b40a3887a33.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_f3bb9129-4e5b-4e38-ac98-2ed9edacdf17.assets.cache
Simple.Api/obj/Debug/netcoreapp2.2/nCrunchTemp_46e2ba31-61c7-49b7-888d-29948bdfbf7a.assets.cache
Simple.Api/obj/Debug/netcoreapp2.2/nCrunchTemp_7713e3bb-d46c-442d-86e2-b53edf376244.assets.cache
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.AssemblyInfo.cs
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.AssemblyInfoInputs.cache
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.assets.cache
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.csproj.CoreCompileInputs.cache
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.csproj.FileListAbsolute.txt
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.csprojAssemblyReference.cache
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.RazorAssemblyInfo.cache
Simple.Api/obj/Debug/netcoreapp2.2/Simple.Api.RazorAssemblyInfo.cs
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Microsoft.AspNetCore.Mvc.Versioning.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/MongoDB.Bson.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/MongoDB.Driver.Core.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/MongoDB.Driver.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Simple.Api.deps.json
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Simple.Api.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Simple.Api.pdb
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Simple.Api.runtimeconfig.json
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/StructureMap.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/StructureMap.Microsoft.DependencyInjection.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
Simple.Api/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api_old/appsettings.Development.json
Simple.Api_old/appsettings.json
Simple.Api_old/bin/Debug/netcoreapp2.1/Simple.Api.deps.json
Simple.Api_old/bin/Debug/netcoreapp2.1/Simple.Api.dll
Simple.Api_old/bin/Debug/netcoreapp2.1/Simple.Api.pdb
Simple.Api_old/bin/Debug/netcoreapp2.1/Simple.Api.runtimeconfig.dev.json
Simple.Api_old/bin/Debug/netcoreapp2.1/Simple.Api.runtimeconfig.json
Simple.Api_old/bin/Docker/publish/appsettings.Development.json
Simple.Api_old/bin/Docker/publish/appsettings.json
Simple.Api_old/bin/Docker/publish/DnsClient.dll
Simple.Api_old/bin/Docker/publish/Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer.dll
Simple.Api_old/bin/Docker/publish/Microsoft.AspNetCore.Mvc.Versioning.dll
Simple.Api_old/bin/Docker/publish/MongoDB.Bson.dll
Simple.Api_old/bin/Docker/publish/MongoDB.Driver.Core.dll
Simple.Api_old/bin/Docker/publish/MongoDB.Driver.dll
Simple.Api_old/bin/Docker/publish/Simple.Api.deps.json
Simple.Api_old/bin/Docker/publish/Simple.Api.dll
Simple.Api_old/bin/Docker/publish/Simple.Api.pdb
Simple.Api_old/bin/Docker/publish/Simple.Api.runtimeconfig.json
Simple.Api_old/bin/Docker/publish/StructureMap.dll
Simple.Api_old/bin/Docker/publish/StructureMap.Microsoft.DependencyInjection.dll
Simple.Api_old/bin/Docker/publish/Swashbuckle.AspNetCore.dll
Simple.Api_old/bin/Docker/publish/Swashbuckle.AspNetCore.Swagger.dll
Simple.Api_old/bin/Docker/publish/Swashbuckle.AspNetCore.SwaggerGen.dll
Simple.Api_old/bin/Docker/publish/Swashbuckle.AspNetCore.SwaggerUI.dll
Simple.Api_old/bin/Docker/publish/web.config
Simple.Api_old/bin/Release/netcoreapp2.1/Simple.Api.deps.json
Simple.Api_old/bin/Release/netcoreapp2.1/Simple.Api.dll
Simple.Api_old/bin/Release/netcoreapp2.1/Simple.Api.pdb
Simple.Api_old/bin/Release/netcoreapp2.1/Simple.Api.runtimeconfig.dev.json
Simple.Api_old/bin/Release/netcoreapp2.1/Simple.Api.runtimeconfig.json
Simple.Api_old/Controllers/DataController.cs
Simple.Api_old/Dockerfile
Simple.Api_old/Dockerfile.build
Simple.Api_old/obj/Debug/netcoreapp2.1/nCrunchTemp_69079ffe-2058-4aff-8e74-7359450c8810.assets.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.assets.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.csproj.FileListAbsolute.txt
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.csprojAssemblyReference.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.dll
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.pdb
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cs
Simple.Api_old/obj/Debug/netcoreapp2.1/Simple.Api.RazorTargetAssemblyInfo.cache
Simple.Api_old/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api_old/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api_old/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api_old/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_07c6faf9-05f3-4750-90b9-8d49c0ecea6c.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_0efcd8f7-6065-446d-9165-a7e790d6f120.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_b50effda-5b70-4bc1-93a5-7b9177cead68.assets.cache
Simple.Api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.Development.json
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/appsettings.json
Simple.Api/obj/Release/netcoreapp2.1/PubTmp/Out/DnsClient.dll
Simple.Api_old/obj/project.assets.json
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.assets.cache
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.csproj.FileListAbsolute.txt
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.csprojAssemblyReference.cache
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.dll
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.pdb
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cache
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cs
Simple.Api_old/obj/Release/netcoreapp2.1/Simple.Api.RazorTargetAssemblyInfo.cache
Simple.Api_old/obj/Release/netcoreapp2.1/UserSecretsAssemblyInfo.cs
Simple.Api_old/obj/Simple.Api.csproj.nuget.cache
Simple.Api_old/obj/Simple.Api.csproj.nuget.g.props
Simple.Api_old/obj/Simple.Api.csproj.nuget.g.targets
Simple.Api_old/Program.cs
Simple.Api_old/Properties/launchSettings.json
Simple.Api_old/Repository/DataItem.cs
Simple.Api_old/Repository/DataRepository.cs
Simple.Api_old/Repository/DbContext.cs
Simple.Api_old/Settings.cs
Simple.Api_old/Simple.Api.csproj
Simple.Api_old/Simple.Api.csproj.user
Simple.Api_old/Startup.cs
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.dll
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.pdb
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.deps.json
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.dll
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.pdb
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.runtimeconfig.dev.json
Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.runtimeconfig.json
Simple.Api.Tests/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
Simple.Api.Tests/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
Simple.Api.Tests/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_81bd593e-c5e7-4e4e-8ce3-e2960b5df960.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csproj.CopyComplete
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csproj.FileListAbsolute.txt
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.dll
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.pdb
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_cac6efb8-2be1-4768-87d1-90f3c3cbcb3b.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_7d03cb67-0e43-465c-b918-8be40b53089c.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_17b32dd1-1bfb-4bf8-89bd-adab48b5cc08.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_00d5a87c-9b97-4135-8d9d-e9f737acbcdd.assets.cache
Simple.Api/Simple.Api.csproj.user
hoang-anhnguyen.pem
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_e67eed05-5163-4cbd-9b87-b3bc6057d4db.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_4c46b126-806f-493a-9841-525692ebd999.assets.cache
Simple.Api/obj/Debug/netcoreapp2.1/nCrunchTemp_3b7fd45e-652b-40ef-b68a-6eeff47b92d0.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_95dde142-6645-437d-8d5e-2f8a9d259bf1.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_4fa235ef-d3a0-408a-999b-6eeb1dd7ae2e.assets.cache
