
.vs/Simple.Api/v15/Server/sqlite3/storage.ide-wal
.vs/Simple.Api/v15/Server/sqlite3/storage.ide-shm
.vs/Simple.Api/v15/Server/sqlite3/storage.ide
.vs/Simple.Api/v15/Server/sqlite3/db.lock
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.AssemblyInfo.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.AssemblyInfoInputs.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.assets.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csproj.CoreCompileInputs.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csprojAssemblyReference.cache
Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.Program.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api.Tests/obj/project.assets.json
Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.g.targets
Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.g.props
Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.cache
Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
Simple.Api.Tests/obj/Debug/netcoreapp2.1/nCrunchTemp_a0dd6d17-f492-4ec2-9a07-809f55ff1e28.assets.cache
_NCrunch_Simple.Api/Simple.Api.executiontimes.cache
_NCrunch_Simple.Api/Simple.Api.crunchsolution.cache
.vs/Simple.Api/v15/.suo
